$bodyBackground: #e0bb96;
$headingText: #964b01;
$briefBackground: #efcca0;
$contentBackground: #fff;
$briefHeight: 70px;
$briefWidth: 390px;
$briefPadding: 20px 15px 10px 15px;
$briefMargin: false;
$linkColor: #4b7baa;
$tableColor: #fffff;
$tableHead: #dddbdb;
$formWidth: 960px;
$rowWidth: 480px;
$formColors: #808080;
$buttonBackground: #ffffff;
$borderColorInput: $tableHead;
$textColorButton: #3968a8;
$borderColor: #4c81b5;