$headingText: #edcc12;
$bodyBackground:rgba(187, 241, 249, 0.61);
$briefBackground: #eef276;
$contentBackground: #4b4c4c;
$briefWidth : 960px;
$briefPadding: 0;
$briefHeight: 18.2px;
$briefMargin: true;
$linkColor: darken($headingText, 15%);
$tableColor: #539e03;
$tableHead: #79d15c;
$formBorder: $tableHead;
$formColors:#e2d30c;
$rowWidth: $formWidth/2;
$textColorButton: #e0992f;
$borderColorInput: $tableHead;
$buttonBackground: $contentBackground;
$borderColor: #e2d30a;